<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="MyDomain"
           connectionString="testGraphApi1996.onmicrosoft.com" 
        />
      <add name="ClientId"
           connectionString="3fd45a93-47db-49da-94b9-56e48e2499b9"/>

      <add name="RedirectUri"
           connectionString="https://CalendarCategoryConsoleApp"/>
    </connectionStrings>
</configuration>
